/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  :root {
    --main-color: #9125EC;
    --dark-gray: #dbdbdb;
    --light-gray1: #d7dfe2;
    --light-gray2: #f2f6f7;
    --light-gray3: #7a9299;
    --border: #bbc7cc;
    --white: #ffffff;
    --black: #000000;
  }
  
  a {
    text-decoration: none;
  }
  
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-gray);
  }
  
  /* Header Section Style */
  
  .main-header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    align-items: center;
    padding: 0.2rem 2rem;
    border-radius: 0 0 80px 80px;
    height: 350px;
    width: 100%;
  }
  
  .logo-div {
    width: 18%;
  }
  
  .logo-img {
    width: 70%;
    object-fit: cover;
  margin-left: 35px;
  }
  
  .main-div {
    width: 100%;
    width: 100%;
    top: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .searchInput {
    border: 1px solid var(--border);
    padding: 15px;
    width: 100%;
    height: 50px;
    color: var(--main-color);
  }
  
  .searchInput:focus {
    border: 1px solid var(--main-color);
  }
  
  #searchBtn {
    background-color: var(--main-color);
    color: var(--white);
    width: 100%;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius:  0 0 10px 10px;
  }
  
  #searchBtn:hover {
    filter: brightness(90%);
  }
  
  .btn {
    all: unset;
    background-color: #9125EC;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 12px 0;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  /*nav*/

nav {
    height: 80px;
    line-height: 80px;
    border-bottom: 1ps solid #9125EC;
  }
  @media (max-width: 992px) {
    nav {
      height: 160px;
      line-height: 20px;
      padding: 15px 0;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
  }
  @media (max-width: 992px) {
    .nav {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 420px) {
    .nav {
      display: flex;
      flex-direction: row;
    }
  }
  @media (max-width: 1000px) {
    .nav {
      display: flex;
      flex-direction: row;
    }
  }


  .nav a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .nav .btnlk{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .nav .btnlk button{
    color: white;
    border: 2px solid #9125EC;
    cursor: pointer;
    padding: 10px 15px !important;
    background-color: #9125EC !important;
    border-radius: 10px !important;
    font-size: 1.4rem;
    font-weight: bold;
  
    padding: 10px;
    margin-right: 23px;
  }
  .nav .btnlk button:hover {
    color: #9125EC;
    border: 2px solid #9125EC;
    cursor: pointer;
    margin-right: 23px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 15px !important;
    background-color: white !important;
    border-radius: 10px !important;
  }
  .nav .btnlk a {
    text-decoration: none;
  }
  .logo{
    color: #9125EC;
    text-decoration: none;
    margin-left: 23px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'lato black';

  }
.username{
  color: #9125EC;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lato black';

}
  @media screen and (max-width: 450px){
    .nav .btnlk button{
        border: 2px solid #9125EC;
        font-size: 1rem;

      }
      .nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

} 

table, th, td {
  border: 1px solid lightgrey;
  text-align: center;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  
}

th {
  color: #9125EC;
  border-bottom: 1px solid lightgrey;
}

.img {
  width: 50px;
}
#movie-table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 13%;
}

tr {
  height: 35px;
}