
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
  }
body{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  .signup {
    width: 500px;
    height: 620px;
    margin: 1em auto;
    padding: 1em 1em 0;
    background: rgb(243, 243, 243);
    border-radius: 25px;
  }
  .doyou{
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  
  .signup h1 {
    width: 70%;
    margin: 1.5em auto;
    display: block;
    color: #9125EC;

  }

  .signupform {
    font-size: 14px;
    justify-content: center;

  }
  
  .signupform label {
    width: 70%;
    display: block;
    margin: auto;
  }
  
  .signupform input {
    width: 100%;
    height: 40px;
    display: block;
    margin: 1em auto 0;
    padding: 0.5em;
    outline: none;
    border: 1px solid rgba(3, 3, 3, 0.99);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .signupform button {
    width: 70%;
    height: 40px;
    display: block;
    margin: 2em auto;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #9125EC;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
  }
  
  .error {
    width: 70%;
    min-height: 1.5em;
    margin: 0.2em auto 0.5em;
    font-size: 10px;
    color: red;
    text-transform: uppercase;
  }
  


  